:global {
  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #eee;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .modal {
    overflow-x: hidden;
    .modal-content {
      padding: 24px;
      padding-top: 90px;
      h4{
        position: absolute;
        top: 0;
        left: 0;
        right: -2px;
        padding: 24px;
        color: #fff;
        background-color: #c51162;
      }
    }
  }
  .notification-ic{
    height: 64px;
  }
  .notifications{
    position: absolute;
    transform: translateX(-74%);
    top: 64px;
    z-index: 9;
    overflow: visible !important;
  }
  .pin{
    background-color: white;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    position: absolute;
    right: 50px;
    top: -10px;
    z-index: 8;
    opacity: .999999;
    box-shadow: -1px -1px 3px -2px rgb(0, 0, 0);
  }
  .main-header{
    padding: 25px;
  }
  .tar{
    text-align: right;
  }
  .sep-saldo{
    position: relative;
    display: inline-block;
    h3{
      display: inline;
    }
    
  }
  .efeitoSaldo{
    font-size: 37px;
    position: absolute;
    right: 0;
    top: 10px;
  }
}
.sub{
  color: #ff1100;
  animation: animationFrames infinite 2s;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames infinite 2s;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames infinite 2s;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames infinite 2s;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames infinite 2s;
  -ms-transform-origin: 50% 50%;
}
.add{
  color: #00ff16;
  animation: animationFrames infinite 2s;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames infinite 2s;
  -webkit-animation-direction: reverse;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames infinite 2s;
  -moz-animation-direction: reverse;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames infinite 2s;
  -o-animation-direction: reverse;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames infinite 2s;
  -ms-animation-direction: reverse;
  -ms-transform-origin: 50% 50%;
  animation-direction: reverse;
}

@keyframes animationFrames{
  0% {
    transform:  translate(2px,1px)  ;
  }
  100% {
    transform:  translate(1px,108px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(2px,1px)  ;
  }
  100% {
    -moz-transform:  translate(1px,108px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(2px,1px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,108px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(2px,1px)  ;
  }
  100% {
    -o-transform:  translate(1px,108px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(2px,1px)  ;
  }
  100% {
    -ms-transform:  translate(1px,108px)  ;
  }
}