.tac{
	text-align: center;
}
.medal{
	max-width: 140px;
}
.medal.disabled{
	-webkit-filter: grayscale(100%);
	transition: 350ms linear;
}
.archiev:hover .medal.disabled{
	-webkit-filter: grayscale(65%) !important;
	transition: 350ms linear;
}
